/* /login-page 내에서만 배경이미지 변경 */
.mobile-container{
  overflow: hidden;
  box-sizing: border-box;
  background-image: url('/static/img/togather_background.png');
}

/* top-headerpart */
.header {text-align: center; font-size: 18px; padding: 20px 0; 
 margin-bottom: 10px; color: white;}
.text-icon{display: inline-block; width: 25px; height: auto; vertical-align: middle;
margin-left: 5px ; filter:brightness(0) invert(1)}

/* logo-container */
.main-logo{width: 40%; max-width: 100%; height: auto; display: block; margin: 30px auto;}

/* contents-container */
.contents-container{padding: 10px 20px; gap: 20px; display: flex; flex-direction: column;}

/* login-input-container */
.login-inp-container{display: flex; flex-direction: column; width: 100%; flex:1; cursor: pointer; gap: 10px; 
  margin-bottom: 20px;}
.order-number{padding: 0 15px; height: 45px; border-radius: 5px; border : 1px solid #3b82f6; color: black;}
.btn-help{
  background: none; border: none; font-size: 13px; font-weight: 600; 
  color: #868E96;text-decoration: underline; cursor: pointer;}
/* 로그인 버튼 스타일 */
.login-btn {width: 100%; height: 50px; background: linear-gradient(135deg, #ff7e40, #ff5100);
color: #ffffff; font-size: 16px; font-weight: bold; border: none; border-radius: 8px; cursor: pointer;}

/* before-reservation-container */
.bef-reservation-container{display: flex; flex-direction: column; gap: 10px 0;}

.reservation-divider{display: flex; align-items: center; justify-content: center; color: #ffffff; 
font-size: 14px; margin: 20px 0;}
.reservation-divider::before, .reservation-divider::after{
  content: ""; flex-grow: 1; height: 0.5px; background-color: #c6c6c6;}
.reservation-divider::before{margin-right:10px;}
.reservation-divider::after{margin-left:10px;}

.reservation-btn{display: flex; width: 100%; height: 50px; background: #00b415;text-align: center;
align-items: center; justify-content: center; font-size: 16px; color: #ffffff; border-radius: 8px; text-decoration: none;}
.question-btn{display: flex; width: 100%; height: 50px; background: #00b415;text-align: center;
align-items: center; justify-content: center; font-size: 16px; color: #ffffff; border-radius: 8px;
cursor: pointer;}


.ticket-buy-inf{width: 100%; height: 50px; background: linear-gradient(135deg, #ff7e40, #ff5100);text-align: center;
align-items: center; justify-content: center;
color: #ffffff; font-size: 16px; font-weight: bold; border: none; border-radius: 8px; cursor: pointer;}
