/* /login_page 내에서만 배경이미지 변경 */
.mobile-container{
  overflow: hidden;
  box-sizing: border-box;
  background-image: url('/static/img/togather_backgroud.png');
}

/* top_headerpart */
.header {text-align: center; font-size: 18px; padding: 20px 0; 
 margin-bottom: 10px; color: white;}
.text_icon{display: inline-block; width: 25px; height: auto; vertical-align: middle;
margin-left: 5px ; filter:brightness(0) invert(1)}

/* logo_container */
.main_logo{width: 40%; max-width: 100%; height: auto; display: block; margin: 30px auto;}

/* contents_container */
.contents_container{padding: 10px 20px; gap: 0 100px; display: flex; flex-direction: column;}

/* login_input_container */
.login_inp_container{display: flex; flex-direction: column; width: 100%; flex:1; cursor: pointer; gap: 10px; 
  margin-bottom: 20px;}
.order_number{padding: 0 15px; height: 45px; border-radius: 5px; border : 1px solid #3b82f6; color: black;}
.btn-help{
  background: none; border: none; font-size: 13px; font-weight: 600; 
  color: #868E96;text-decoration: underline; cursor: pointer;}
/* 로그인 버튼 스타일 */
.login_btn {width: 100%; height: 50px; background: linear-gradient(135deg, #ff7e40, #ff5100);
color: #ffffff; font-size: 16px; font-weight: bold; border: none; border-radius: 8px; cursor: pointer;}

/* before_reservation_container */
.bef_reservataion_container{display: flex; flex-direction: column; gap: 10px 0;}

.reservation_divider{display: flex; align-items: center; justify-content: center; color: #ffffff; 
font-size: 14px; margin: 20px 0;}
.reservation_divider::before, .reservation_divider::after{
  content: ""; flex-grow: 1; height: 0.5px; background-color: #c6c6c6;}
.reservation_divider::before{margin-right:10px;}
.reservation_divider::after{margin-left:10px;}

.reservation{display: flex; width: 100%; height: 50px; background: #00b415;text-align: center;
align-items: center; justify-content: center; font-size: 16px; color: #ffffff; border-radius: 8px;}
.question{display: flex; width: 100%; height: 50px; background: #00b415;text-align: center;
align-items: center; justify-content: center; font-size: 16px; color: #ffffff; border-radius: 8px;}


.ticket_buy_inf{width: 100%; height: 50px; background: linear-gradient(135deg, #ff7e40, #ff5100);text-align: center;
align-items: center; justify-content: center;
color: #ffffff; font-size: 16px; font-weight: bold; border: none; border-radius: 8px; cursor: pointer;}




.footer {
  margin-top: auto; 
  text-align: center;
  padding: 20px 0 10px; 
  border-top: 1px solid #F1F3F5;
  position: absolute;
  bottom: 30px;
  left:0;
  width: 100% ;
}
.footer p { 
  font-size: 11px; 
  color: #ADB5BD; 
  line-height: 1.7; 
}
.footer-link{
  color: #adb5bd;
  text-decoration: none;
  margin: 0 5px;
}
.footer-link:hover{
  color: #495057;
}