/* 인터넷 주소 대신 내 컴퓨터(서버)에 있는 파일 불러오기 */
@font-face {
    font-family: 'Memoment';
    /* 🚨 경로 주의: css 폴더에서 한 칸 뒤로(../) 나간 다음 fonts 폴더로 들어갑니다! */
    src: url('../fonts/MemomentKkukkukk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 불러온 폰트를 전체 화면에 덮어씌우기 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Memoment', sans-serif;
}

body{
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.mobile-container{
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fffeee;
  background-image: var(--bg-image, none); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    position: relative;

    display: flex;
    flex-direction: column;
}

.footer {margin-top: auto; text-align: center; padding: 20px 0 50px;}
.footer p {font-size: 11px; color: #000000; line-height: 1.7;}
.footer-link{color: #adb5bd; text-decoration: none; margin: 0 5px;}
.footer-link:hover{color: #495057;}
.footer a{text-decoration: none; color: inherit;}