{% extends 'layout/common_layout.html' %}
{% block title %} 투게더 메인 {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
  <div class="header">
    홈
  </div>

  <div class="map-container">
    <iframe 
      src="https://maps.google.com/maps?q=강남역&t=&z=15&ie=UTF8&iwloc=&output=embed" 
      style="width: 100%; height: 100%; border: 0; position: absolute; top: 0; left: 0; z-index: 1;"
      allowfullscreen="" 
      loading="lazy">
    </iframe>

    <div class="marker-me"></div>
    
    <div class="marker-store pos-1"><ion-icon name="paw"></ion-icon></div>
    <div class="marker-store pos-2"><ion-icon name="cafe"></ion-icon></div>
    <div class="marker-store pos-3"><ion-icon name="restaurant"></ion-icon></div>
    <div class="marker-store pos-4"><ion-icon name="basket"></ion-icon></div>
    <div class="marker-store pos-5"><ion-icon name="bed"></ion-icon></div>

    <div class="gps-button">
      <ion-icon name="locate-outline"></ion-icon>
    </div>
  </div>

<div class="store-slider-container">
  <div class="slider-title">🐶 내 주변 댕댕이 핫플</div>
  
  <div class="store-slider">
    <div class="store-card">
      <div class="store-img" style="background: #ffb88c;"><ion-icon name="cafe-outline"></ion-icon></div>
      <div class="store-info">
        <div class="store-name">멍멍 브루어리</div>
        <div class="store-tags">#애견동반 #디저트</div>
        <div class="store-dist"><ion-icon name="location-outline"></ion-icon> 200m</div>
      </div>
    </div>
    
    <div class="store-card">
      <div class="store-img" style="background: #a8e063;"><ion-icon name="restaurant-outline"></ion-icon></div>
      <div class="store-info">
        <div class="store-name">해피 테일즈 식당</div>
        <div class="store-tags">#대형견환영 #양식</div>
        <div class="store-dist"><ion-icon name="location-outline"></ion-icon> 450m</div>
      </div>
    </div>
    
    <div class="store-card">
      <div class="store-img" style="background: #56ccf2;"><ion-icon name="barbell-outline"></ion-icon></div>
      <div class="store-info">
        <div class="store-name">도기 런 파크</div>
        <div class="store-tags">#야외운동장 #수영장</div>
        <div class="store-dist"><ion-icon name="location-outline"></ion-icon> 1.2km</div>
      </div>
    </div>
    
     <div class="store-card">
      <div class="store-img" style="background: #f2c94c;"><ion-icon name="storefront-outline"></ion-icon></div>
      <div class="store-info">
        <div class="store-name">바둑이 간식상회</div>
        <div class="store-tags">#수제간식 #장난감</div>
        <div class="store-dist"><ion-icon name="location-outline"></ion-icon> 2.0km</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block bottom_nav %}
  {% include 'layout/bottom_nav.html' %}
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/bottom_nav.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}