<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="투게더 - 간편로그인">
  <meta property="og:description" content="네이버 주문번호로 로그인하세요!.">
  <meta property="og:image" content="{{ url_for('static', filename='img/togater_logo.png', _external=True)}}">

  <title>{% block title %}common layout{% endblock %}</title>

  <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css')}}">
  <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/common_layout.css')}}">
  <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/bottom_nav.css')}}">

  {% block css %}{% endblock %}
</head>
<body>
  <div class = "mobile-container">
    {% block content %}
    
    {% endblock %}

    {% block bottom_nav %}
    {% endblock %}
  </div>



  <script src = "{{url_for('static', filename='js/common_layout.js')}}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "x06a1v1pv8");
</script>
  {% block script %}{% endblock %}
</body>
</html>